/*
Error: File to import not found or unreadable: materialize.
       Load path: /home/yian/github/w6/contactList/public/stylesheets/sass
        on line 4 of ./public/stylesheets/sass/application.scss

1: $base-color: #00bcd4;
2: $highlight-color: lighten($base-color, 30%);
3: 
4: @import 'materialize';
5: 
6: input[type="submit"] {
7:   @extend .btn, .cyan;
8: }
9: 

Backtrace:
./public/stylesheets/sass/application.scss:4
/home/yian/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/tree/import_node.rb:67:in `rescue in import'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/tree/import_node.rb:45:in `import'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/tree/import_node.rb:28:in `imported_file'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/tree/import_node.rb:37:in `css_import?'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:311:in `visit_import'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/stack.rb:79:in `block in with_base'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/stack.rb:79:in `with_base'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `map'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:157:in `visit'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/engine.rb:295:in `render_with_sourcemap'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:209:in `each'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/plugin.rb:82:in `update_stylesheets'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/plugin.rb:54:in `check_for_updates'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sass-3.4.16/lib/sass/plugin/rack.rb:51:in `call'
/home/yian/.rvm/gems/ruby-2.2.1/gems/rack-protection-1.5.3/lib/rack/protection/xss_header.rb:18:in `call'
/home/yian/.rvm/gems/ruby-2.2.1/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
/home/yian/.rvm/gems/ruby-2.2.1/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
/home/yian/.rvm/gems/ruby-2.2.1/gems/rack-protection-1.5.3/lib/rack/protection/path_traversal.rb:16:in `call'
/home/yian/.rvm/gems/ruby-2.2.1/gems/rack-protection-1.5.3/lib/rack/protection/json_csrf.rb:18:in `call'
/home/yian/.rvm/gems/ruby-2.2.1/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
/home/yian/.rvm/gems/ruby-2.2.1/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
/home/yian/.rvm/gems/ruby-2.2.1/gems/rack-protection-1.5.3/lib/rack/protection/frame_options.rb:31:in `call'
/home/yian/.rvm/gems/ruby-2.2.1/gems/rack-1.6.4/lib/rack/session/abstract/id.rb:225:in `context'
/home/yian/.rvm/gems/ruby-2.2.1/gems/rack-1.6.4/lib/rack/session/abstract/id.rb:220:in `call'
/home/yian/.rvm/gems/ruby-2.2.1/gems/rack-1.6.4/lib/rack/logger.rb:15:in `call'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sinatra-1.4.6/lib/sinatra/base.rb:211:in `call'
/home/yian/.rvm/gems/ruby-2.2.1/gems/rack-1.6.4/lib/rack/head.rb:13:in `call'
/home/yian/.rvm/gems/ruby-2.2.1/gems/rack-1.6.4/lib/rack/methodoverride.rb:22:in `call'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sinatra-1.4.6/lib/sinatra/show_exceptions.rb:21:in `call'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sinatra-1.4.6/lib/sinatra/base.rb:181:in `call'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sinatra-1.4.6/lib/sinatra/base.rb:2021:in `call'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sinatra-1.4.6/lib/sinatra/base.rb:1486:in `block in call'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sinatra-1.4.6/lib/sinatra/base.rb:1795:in `synchronize'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sinatra-1.4.6/lib/sinatra/base.rb:1486:in `call'
/home/yian/.rvm/gems/ruby-2.2.1/gems/rack-1.6.4/lib/rack/lint.rb:49:in `_call'
/home/yian/.rvm/gems/ruby-2.2.1/gems/rack-1.6.4/lib/rack/lint.rb:37:in `call'
/home/yian/.rvm/gems/ruby-2.2.1/gems/rack-1.6.4/lib/rack/showexceptions.rb:24:in `call'
/home/yian/.rvm/gems/ruby-2.2.1/gems/rack-1.6.4/lib/rack/commonlogger.rb:33:in `call'
/home/yian/.rvm/gems/ruby-2.2.1/gems/sinatra-1.4.6/lib/sinatra/base.rb:218:in `call'
/home/yian/.rvm/gems/ruby-2.2.1/gems/shotgun-0.9.1/lib/shotgun/loader.rb:86:in `proceed_as_child'
/home/yian/.rvm/gems/ruby-2.2.1/gems/shotgun-0.9.1/lib/shotgun/loader.rb:31:in `call!'
/home/yian/.rvm/gems/ruby-2.2.1/gems/shotgun-0.9.1/lib/shotgun/loader.rb:18:in `call'
/home/yian/.rvm/gems/ruby-2.2.1/gems/shotgun-0.9.1/lib/shotgun/favicon.rb:12:in `call'
/home/yian/.rvm/gems/ruby-2.2.1/gems/shotgun-0.9.1/lib/shotgun/static.rb:14:in `call'
/home/yian/.rvm/gems/ruby-2.2.1/gems/rack-1.6.4/lib/rack/urlmap.rb:66:in `block in call'
/home/yian/.rvm/gems/ruby-2.2.1/gems/rack-1.6.4/lib/rack/urlmap.rb:50:in `each'
/home/yian/.rvm/gems/ruby-2.2.1/gems/rack-1.6.4/lib/rack/urlmap.rb:50:in `call'
/home/yian/.rvm/gems/ruby-2.2.1/gems/rack-1.6.4/lib/rack/builder.rb:153:in `call'
/home/yian/.rvm/gems/ruby-2.2.1/gems/puma-2.12.3/lib/puma/server.rb:541:in `handle_request'
/home/yian/.rvm/gems/ruby-2.2.1/gems/puma-2.12.3/lib/puma/server.rb:388:in `process_client'
/home/yian/.rvm/gems/ruby-2.2.1/gems/puma-2.12.3/lib/puma/server.rb:270:in `block in run'
/home/yian/.rvm/gems/ruby-2.2.1/gems/puma-2.12.3/lib/puma/thread_pool.rb:106:in `call'
/home/yian/.rvm/gems/ruby-2.2.1/gems/puma-2.12.3/lib/puma/thread_pool.rb:106:in `block in spawn_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: materialize.\A        Load path: /home/yian/github/w6/contactList/public/stylesheets/sass\A         on line 4 of ./public/stylesheets/sass/application.scss\A \A 1: $base-color: #00bcd4;\A 2: $highlight-color: lighten($base-color, 30%);\A 3: \A 4: @import 'materialize';\A 5: \A 6: input[type=\"submit\"] {\A 7:   @extend .btn, .cyan;\A 8: }\A 9: "; }
