<h1>Contact List</h1>

<form id="add-new">
  <label for="contact[first_name]">First Name</label>
  <input type="text" name="contact[first_name]"><br/>
  <label for="contact[last_name]">Last Name</label>
  <input type="text" name="contact[last_name]"><br/>
  <label for="contact[email]">Email</label>
  <input type="text" name="contact[email]"><br/>
  <label for="contact[phone_num]">Phone Number</label>
  <input type="text" name="contact[phone_num]"><br/>
  <input type="submit">
</form>

<form id="edit">
  <label for="contact[first_name]">First Name</label>
  <input type="text" name="contact[first_name]"><br/>
  <label for="contact[last_name]">Last Name</label>
  <input type="text" name="contact[last_name]"><br/>
  <label for="contact[email]">Email</label>
  <input type="text" name="contact[email]"><br/>
  <label for="contact[phone_num]">Phone Number</label>
  <input type="text" name="contact[phone_num]"><br/>
  <input type="submit">
</form>

<ul id="contacts">
</ul>
