<h1>Contact List</h1>

  <!-- Modal Structure -->
  <div id="contact-form" class="modal">
    <form>
      <div class="modal-content">
      <h3>Placeholder</h3>
        <input type="hidden" name="contact[id]" id='id'>
        <label for="contact[first_name]">First Name</label>
        <input type="text" name="contact[first_name]" id='first_name' ><br/>
        <label for="contact[last_name]">Last Name</label>
        <input type="text" name="contact[last_name]" id='last_name'><br/>
        <label for="contact[email]">Email</label>
        <input type="text" name="contact[email]" id='email'><br/>
        <label for="contact[phone_num]">Phone Number</label>
        <input type="text" name="contact[phone_num]" id='phone_num'><br/>
      </div>
      <div class="modal-footer">
        <input type="submit">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">cancel</a>
      </div>
    </form>
  </div>

<ul id="contact-list" class="collapsible popout">
</ul>
