<div id='form-tmp'>
<form>
  <label for="contact[first_name]">First Name</label>
  <input type="text" name="contact[first_name]"><br/>
  <label for="contact[last_name]">Last Name</label>
  <input type="text" name="contact[last_name]"><br/>
  <label for="contact[email]">Email</label>
  <input type="text" name="contact[email]"><br/>
  <label for="contact[phone_num]">Phone Number</label>
  <input type="text" name="contact[phone_num]"><br/>
  <input type="submit">
</form>
</div>

<ul id="contact-tmp">
  <li>{{first_name}} {{last_name}}</li>
</ul>


    appendToList: function(item, contact){

      item.append(contact.first_name+" "+contact.last_name)
      .append("<button class='detail'>detail</button>")
      .append("<button class='delete'>delete</button>")
      .append("<button class='edit'>edit</button>")
      .append('<div class="detail">'+contact.email+'</div>');
      item.find('div.detail').hide();
    },